h2 {
    text-align: start;
    color: crimson;
}
h1{
    text-align: center;
    color: rgb(91, 20, 15);
}
p {
    text-align: start;
    color: rgb(46, 35, 35);

}


body {
    background-color: #F8F8F0;
}

.navMENU {
    background-color: #14183B;
    border: 10px solid #14183B;
    padding: 1em;
    text-align: center;
    height: 100px;
    width: 100%;

}


a {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

 .navMENU1{
    background-color: #000000;
    height: 500px;
    width: 100%;
}
