.navMENU {
    background-color: #14183B;
    border: 10px solid #14183B;
    padding: 1em;
    text-align: center;
    height: 40px;
    width: 100%;

}

.MENU {
    background-color: #B2A696;
    border: 10px solid #B2A696;
    padding: 2px;
    height: 40px;
    width: 101.59%;
    display: flex;
    justify-content: space-around
}

.logo img{
    width: 6%;
    position: absolute;
    top: 7px;
    bottom: 7px;
    
}
.image-container img {
    display: block;
    width: 100%;
    height: auto;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #df2d2d75;
    color: #0e0707;
    padding: 15px 25px;
    font-size: 50px;
    text-align: center;
    font-family: 'Playpen Sans', cursive;
}