h1 {
    text-align: center;
    color: rgb(91, 20, 15);
    font-family: 'Playpen Sans', cursive;
    font-size: 50px;
}

p {
    text-align: center;
    font-size: 20px;
    font-family: 'Playpen Sans', cursive;
}


h2 {
    text-align: center;
    color: rgb(34, 24, 26);
    font-size: 30px;
    font-family: 'Playpen Sans', cursive;
}

a {
    font-family: 'Playpen Sans', cursive;
    text-align: center;
}



body {
    background-color: #F8F8F0;
   
}

.navMENU {
    background-color: #14183B;
    border: 10px solid #14183B;
    padding: 1em;
    height: auto;
    width: 99.8%;
    display: flex;
    justify-content: space-around;
    float: center;

}

.MENU {
    background-color: #B2A696;
    border: 10px solid #B2A696;
    padding: 2px;
    height: 40px;
    width: 101.59%;
    display: flex;
    justify-content: space-around;
}

.contact {
    background-color: #14183B;
    border: 10px solid #14183B;
    padding: 1em;
    height: 600px;
    width: 100%;
    display: flex;
    color: white;
}


a {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}


.black img {
    display: flex;
    height: auto;
    width: 25%;
}

.Blue {
    display: flex;
    flex-direction: row-reverse
}

.bio {
    display: flex;
    flex-direction: row-reverse
}


h3 {
    text-align: center;
    font-family: 'Playpen Sans', cursive;
    font-size: 25px;
}

.image-container {
    position: relative;
    display: inline-block;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #df2d2d75;
    color: #0e0707;
    padding: 15px 25px;
    font-size: 50px;
    text-align: center;
    font-family: 'Playpen Sans', cursive;
}

.logo img {
    width: 10%;
    position: absolute;
    top: 25px;
    left: 220px;

}

img {
    height: auto;
    width: 25%;
}

nav>a {
    background-color: dodgerblue;
    border-radius: 0.5rem;
    padding: 1rem;
    color: white;
    text-decoration: none;
    transition-property: color, background-color;
    transition-duration: 500ms;
    transition-timing-function: ease;
    margin-left: 1rem;
    float: right;

}

nav>a:hover {
    color: yellow;
    background-color: rgb(26, 118, 209);
}

#products {
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    margin-bottom: 2rem;
}

.product {
    background-color: #F8F8F0;
    padding: 50px;
    width: 40%;
    position: relative;
    text-align: left;
    float: right;

}
